@charset "UTF-8";

header {
  box-sizing: border-box;
  height: 80px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

.header-logo {
  font-size: 30px;
  color: #00186B;
  font-weight: bold;
}

nav {
  margin-left: auto;
}

.nav-menu {
  display: flex;
  flex-direction: row;
}

.nav-menu li:not(:first-child) {
  margin-left: 30px;
}

.nav-menu li a {
  text-decoration: none;
  color: #00186B;
  font-weight: bold;
}

.container-img {
  margin: 100px 0px -125px auto;
  display: block;
  width: 50%;
}

.container-text {
  font-size: 50px;
}

.container-bottom {
  background: #00186B;
  width: 75%;
  height: 150px;
}